 *{
 text-transform: capitalize !important;
 box-sizing: border-box !important;
} 
#login-container{
    margin: 100px auto;
}
#login-container .input-cotainer{
    margin:0px auto;
} 
/* this style below is for the image in index.php that sit next to the form */
.icon-index{
width:300px;
opacity: 0.7;
}
 
input[type='text'],input[type='password']{
    border-color:steelblue !important;
}
/* this style is for the section in admin_reg.php page */
.border{
    /* border:3px solid red !important; */
    overflow: hidden;
    margin:30px auto;
}
/* li>a, .dropdown-content li>span {
    color: steelblue !important;
   
} */
.infor{
    height: 300px;
    text-align: center;
    margin-top:100px;
    background: url('img/logo.png') center no-repeat;
    background-size:300px;
    opacity: 0.5;
}
/* .bg{
    background: url('img/logo.png') right no-repeat !important;
} */
.mylinks{
    width:200px;
    height:;
    margin: 20px;

}
.mylinks .ul{
    background: #333;
    color:white;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.mylinks li{
     display:block;
     border-collapse:collapse;
     border-bottom: 2px solid white;
     box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
 .mylinks li:last-child{
     border:none;
 }
.mylinks a{
 color:inherit;
 text-decoration: none;
  display:block;
  padding:;
  font-size: 1em;
   padding: 20px;
   text-align: center;

}
.mylinks a:hover{
      background:#f4f4f4;
      color:#000;

}
.mylinks ul li a:active{
    background:#f4f4f4;
    color:#000;

}
 .mylinks h5{
  margin: 10px auto;
  font-size: 2.3em;
 
 }
  .mylinks button{
     margin:10px;
  }

/* userpanel style */
  .logocontainer{
    margin: 0px; 
  }
.logoUser{
    margin:20px 0px;
    width:100px !important;
    height:100px !important;
    padding: 20px !important;
    font-size: 50px;
    letter-spacing: -6px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase !important;
}
.logoUser:hover{
    cursor: text;
}
.userOption{
    margin-left:30px;
    padding:;
    background:#208eec;
    line-height:;
    height: 50px;
    color:#FFF;

}
.userOption:hover{
    background:#fff;
    color:#000;
}
.selectClass{
    margin: 0 !important;
}
.fullname{
    margin-top:-20px;
    text-transform: capitalize;
}
.bg{
    background: url("img/small_icon.png") no-repeat center;
}
/* end of userpanel style */

/* this style is for resultsheet.php */
.title{
    text-align: center;
    width: 100%;
    /* border:2px solid red; */
    margin:10px 0px;
    font-family: tahoma;
  
}
.title h1{
    font-weight: 100;
    margin: 0px;
    font-size: 25px;
    text-decoration: underline;
}
.title h4{
    font-weight: 100;
    margin: 5px;
}
.title .details{
    width:1000px;
    margin: 10px auto;
}
.title .details .tech{
  
    float: left;
    margin-left: 30px;
  }
.title .details .term{
    
  }
  .title .details .classrel{
    float: right;
    margin-right: 40px;
  }
.title .details:after{
  content : " ";
  display: block;
  clear: both;
}

.result_sheet_table{
  border-collapse: collapse;
  font-family: tahoma;
  page-break-after: auto;
}
.result_sheet_table tr{
 page-break-after: auto;
 page-break-inside: avoid;
}
.result_sheet_table th{
  padding: 4px;
  font-weight: 549;
  font-size: 18px;
}
.result_sheet_table td{
    padding: 2px;
    text-align: center;
    page-break-after: auto;
    page-break-inside: avoid;
  }
  .result_sheet_table .name{
    /* padding: 2px; */
    width:250px;
    letter-spacing: 1;
    text-align: left;
    padding-left:5px;
  }
 
/* end of resultsheet style */

/* .box{
    position: relative;
    top:30px;
    left:150px;
}
@media only screen and (max-width:993px){
    .box{
        position:none;
        top:0;
        left:0; 
    }
} */
